.searchForm {
    border-radius: 3px;
    border: 2px solid palevioletred;
    min-height: 1.75rem;
    color: #20193b;
    width: 95%;
    font-size: 1.15rem;
    margin: 0 1em;
    padding: 0.25em 1em;
    font-family: 'Lato', sans-serif;
}